@config "../tailwind.config.ts";

@import "tailwindcss";

body,
html {
  width: 100%;
}

body.lock-scroll {
  overflow: hidden;
  padding-right: var(--scrollbar-width);
}

:root {
  --scrollbar-width: 0px;
}

@media (hover: hover) {
  :root {
    --scrollbar-width: calc(100vw - 100%);
  }
}

@layer base {
  html {
    font-family: var(--font-karla);
  }
  :root {
    --body: 0 0% 100%; /* white page background */
    --background: 0 0% 100%; /* white */
    --primary: 222 47% 11%; /* dark text */
    --border: 210 16% 82%; /* gray-300 */
    --hover-text: 222 47% 45%; /* approx black/75% */
    --shadow: 220 14% 90%; /* light shadow */
    --background-solidpod: 256.52 100% 65.1%;
  }
  .dark {
    --body: 220 14% 15%; /* zinc-900 */
    --background:
      240.02, 6.03%, 9.98%; /* dark background, replaces bg-zinc-800 */
    --primary: 0 0% 100%; /* white text */
    --border: 220 14% 30%; /* darker border */
    --hover-text: 0 0% 75%; /* lighter hover text in dark mode */
    --shadow: 220 14% 35%; /* darker shadow, replaces shadow-zinc-800 */
    --background-solidpod: 256.52 100% 65.1%;
  }
}

p,
a,
li,
span,
b {
  font-family: sans-serif;
}

h2 {
  color: var(--primary-color);
}

.swiper-pagination-bullet-active {
  background-color: #444444 !important;
}

.videoWrapper {
  position: relative;
  padding-bottom: calc(var(--aspect-ratio, 0.5625) * 100%);
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
